/*Contenedor padre*/
.container {

    margin-top: 80px;
    width: 45% !important;
}

/*Contenedor login.html*/
.container.entry h1{

    font-size: 2em;
    font-weight: bold;
}

.container.entry img{

    width: 300px;
    height: 300px;
    
}

/*Contenedor working.html*/
.container.working img{

    width: 300px;
    height: 300px;
}

.container.working h3{

    color: green;
    
}

